<% layout('../layout') -%>
<% script('/public/js/service.js') -%>
<% stylesheet('/public/js/service-extract.css') -%>
<% stylesheet('/public/css/other/service.css') -%>
<% title %>

<div id="app"></div>
