<% layout('../../layout') -%>
<% script('/public/js/hkV1Master.js') -%>
<% stylesheet('/public/js/hkV1Master-extract.css') -%>
<% stylesheet('/public/css/hk/hkV1Master.css') -%>
<% title %>

<div id="app"></div>
