<% layout('../layout') -%>
<% script('/public/js/enAgent.js') -%>
<% stylesheet('/public/js/enAgent-extract.css') -%>
<% stylesheet('/public/css/en/enAgent.css') -%>
<% title %>

<div id="app"></div>
