<% layout('../layout') -%>
<% script('/public/js/enFamous.js') -%>
<% stylesheet('/public/js/enFamous-extract.css') -%>
<% stylesheet('/public/css/en/enFamous.css') -%>
<% title %>

<div id="app"></div>
