<% layout('../layout') -%>
<% script('/public/js/enshangke.js') -%>
<% stylesheet('/public/js/enshangke-extract.css') -%>
<% stylesheet('/public/css/en/enshangke.css') -%>
<% title %>

<div id="app"></div>
