<% layout('../layout') -%>
<% script('/public/js/schoolranking.js') -%>
<% stylesheet('/public/js/schoolranking-extract.css') -%>
<% stylesheet('/public/css/en/schoolranking.css') -%>
<% title %>

<div id="app"></div>
