.schoolrank-list {
  clear: both;
  overflow: hidden;

  .schoolrank-list-header {
    line-height: 1;
    font-size: 18px;
    padding: 16px 0;
    color: #272727;
    text-align: center;
    border: 1px solid #cfd7db;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    font-weight: 700;

    .second {
      color: #b08d44;
    }
  }

  .list-wraper {
    overflow: hidden;
    border: 1px solid #cfd7db;
    border-top: none;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  .schoolrank-wraper {
    height: 340px;
    clear: both;
  }

  .schoolrank-list-body {
    height: 340px;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
    clear: both;

    .schoolrankrow {
      clear: both;
      overflow: hidden;
      border-bottom: 1px solid #ebf1f4;
      height: 50px;
      margin: 0;
      padding: 0;
      text-align: center;

      .col-xs-2,
      .col-xs-3 {
        padding: 0;
      }

      .ranknum {
        font-size: 15px;
        color: #666;
        font-weight: 700;
        padding: 16px 0;
      }

      .schoolname {
        padding: 15px 0;
        background: url(/public/img/usaAllPic/usaV4/v4-logo.png) no-repeat left center;
        padding-left: 30px;
        color: #000;
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        font-weight: 700;
      }

      .scholarship {
        padding: 16px 0 !important;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        color: #000;
      }

      .querybtns {
        font-size: 15px;
        padding: 16px 0;

        a {
          color: #0084ff;
          display: inline-block;

          &:hover {
            border-bottom: 1px solid #0084ff;
          }
        }
      }

      .visitor,
      .location {
        font-size: 15px;
        color: #666;
        font-weight: 700;
        padding: 16px 0 !important;
      }

      .enroll {
        padding-left: 20px;

        em {
          font-style: normal;
          display: inline-block;
          margin-right: 5px;
        }
      }

      .enroll,
      .conditionfee {
        text-align: left;
        padding: 16px 0;
        overflow: hidden;
        font-size: 15px;
        white-space: nowrap;
        color: #666;
        font-weight: 700;
        text-overflow: ellipsis;
      }

      .conditionfee {
        div {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .enroll {
        padding-right: 30px;
      }
    }
  }

  .querybtn {
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
      background: #e52e16;
      width: 190px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;

      &:hover {
        background: #d92c15;
      }
    }
  }
}
