<% layout('../layout') -%>
<% script('/public/js/midschoolV1.js') -%>
<% stylesheet('/public/js/midschoolV1-extract.css') -%>
<% stylesheet('/public/css/usa/midschoolV1.css') -%>
<% title %>

<div id="app"></div>
