<% layout('../layout') -%>
<% script('/public/js/schoolranking_2.js') -%>
<% stylesheet('/public/js/schoolranking_2-extract.css') -%>
<% stylesheet('/public/css/usa/schoolrankingV2.css') -%>
<% title %>

<div id="app"></div>
