<% layout('../layout') -%>
<% script('/public/js/schoolrankingV4.js') -%>
<% stylesheet('/public/js/schoolrankingV4-extract.css') -%>
<% stylesheet('/public/css/usa/schoolrankingV4.css') -%>
<% title %>

<div id="app"></div>
