<% layout('../layout') -%>
<% script('/public/js/undergraduateV3.js') -%>
<% stylesheet('/public/js/undergraduateV3-extract.css') -%>
<% stylesheet('/public/css/usa/undergraduateV3.css') -%>
<% title %>

<div id="app"></div>
