<% layout('../layout') -%>
<% script('/public/js/usaAgent.js') -%>
<% stylesheet('/public/js/usaAgent-extract.css') -%>
<% stylesheet('/public/css/usa/usaAgent.css') -%>
<% title %>

<div id="app"></div>
