<% layout('../layout') -%>
<% script('/public/js/usaMajor.js') -%>
<% stylesheet('/public/js/usaMajor-extract.css') -%>
<% stylesheet('/public/css/usa/usaMajor.css') -%>
<% title %>

<div id="app"></div>
