<% layout('../layout') -%>
<% script('/public/js/usaMiddleV4.js') -%>
<% stylesheet('/public/js/usaMiddleV4-extract.css') -%>
<% stylesheet('/public/css/usa/usaMiddleV4.css') -%>
<% title %>

<div id="app"></div>