<% layout('../layout') -%>
<% script('/public/js/usaVersion4Home1.js') -%>
<% stylesheet('/public/js/usaVersion4Home1-extract.css') -%>
<% stylesheet('/public/css/usa/usaVersion4Home1.css') -%>
<% title %>

<div id="app"></div>