<% layout('../layout') -%>
<% script('/public/js/usaZhaosg.js') -%>
<% stylesheet('/public/js/usaZhaosg-extract.css') -%>
<% stylesheet('/public/css/usa/usaZhaosg.css') -%>
<% title %>

<div id="app"></div>
