<% layout('layout') -%>
<% script('/public/js/uk.js') -%>
<% stylesheet('/public/css/uk.css') -%>
<% title %>

<div id="app">wwwwwww</div>
<img src="/public/img/usa-hot/dk.png" alt=""/>
<footer>footer</footer>
